<div class="d-flex flex-column p-3 bg-light" style="width: 250px; height: 100vh;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a th:href="@{/admin}" class="nav-link"
               th:classappend="${#httpServletRequest.requestURI.startsWith('/admin') ? 'active' : ''}">
                Admin
            </a>
        </li>
        <li>
            <a th:href="@{/user}" class="nav-link"
               th:classappend="${#httpServletRequest.requestURI.startsWith('/user') ? 'active' : ''}">
                User
            </a>
        </li>
    </ul>
</div>
